<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Application Test Suite">
             <file>tests/AuthTest.php</file>
             <file>tests/AdminTest.php</file>
             <file>tests/StudentTStudentTest.php</file>
             <file>tests/UcitelTStudentTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>